<!-- templates/notices.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Notices</title>
  <style>
    body { font-family: sans-serif; padding: 20px; background: #f7f7f7; }
    .card { background: white; border-radius: 5px; padding: 15px; margin-bottom: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
    .title { font-weight: bold; font-size: 1.2em; }
    .date { color: #555; font-size: 0.9em; }
    .card img {
    {% comment %} width: 100%; {% endcomment %}
    max-height: 350px;
    object-fit: contain;
    background: #f0f0f0;
    border-radius: 6px;
    margin-bottom: 15px;
}
  </style>
</head>
<body>
  <h1>Notices</h1>
  {% for notice in notices %}
    <div class="card">
      <div class="title">{{ notice.title }}</div>

         {% if notice.image %}
          <img src="{{ notice.image.url }}" style=" margin:10px 0; border-radius:6px;">
       {% endif %}

      <div class="date">{{ notice.created_at|date:"d M Y" }}</div>
      <p>{{ notice.content }}</p>
    </div>
  {% empty %}
    <p>No notices yet.</p>
  {% endfor %}
</body>
</html>